[user]
  useconfigonly = true
	name = Jan Schulte
	email = jan.schulte@hey.com
[push]
  default = simple
[core]
  editor = vim
	excludesfile = ~/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
  ui = true
